<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="connection.url">jdbc:postgresql://localhost/ovchip</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>

        <mapping class="studie.dp.domain.Reiziger"/>
        <mapping class="studie.dp.domain.OVChipkaart"/>
        <mapping class="studie.dp.domain.Adres"/>
        <mapping class="studie.dp.domain.Product"/>

    </session-factory>

</hibernate-configuration>